# All customizations are documented in globals.cfg. Just copy a variable from
# there into the section below, and change the value to meet your needs.

# All customizations are documented in globals.cfg. Just copy a variable from
# there into the section below, and change the value to meet your needs.

[gcode_macro _km_options]
# These are examples of some likely customizations:
# Any sheets in the below list will be available with a configurable offset.
variable_bed_surfaces: ['smooth','textured','Glass1','Glass2']
# Length (in mm) of filament to load (bowden tubes will be longer).
variable_load_length: 80
# Global minimum extruder temp for loading (default: min_extrude_temp + 5).
variable_load_min_temp: 0
# Length (in mm) of the extruder meltzone (feeds at priming speed).
variable_load_priming_length: 20.0
# Filament priming speed (in mm/m).
variable_load_priming_speed: 200
# Filament loading speed (in mm/m).
variable_load_speed: 1200
# Hide the Octoprint LCD menu since I don't use it.
variable_menu_show_octoprint: False
# X position to park toolhead (set "max" or "min" to infer from stepper config).
variable_park_x: 0
# Y position to park toolhead (set "max" or "min" to infer from stepper config).
variable_park_y: 0
# Z position to park toolhead (set "max" or "min" to infer from stepper config).
variable_park_z: 20.0
# Minimum printable XY coordinate. Defaults to X and Y position_min.
variable_print_min: (0,0) # example: (0, 0)
# Maximum printable XY coordinate. Defaults to X and Y position_max.
variable_print_max: (235,232) # example: (220, 220)
# Scaling factor for M900 command (negative values make M900 a no-op).
variable_pressure_advance_scale: -1.0
# Additional padding around the specified print area for a bed mesh.
variable_probe_mesh_padding :-5
# Minimum number of probes for partial probing of a bed mesh.
variable_probe_min_count: 3
# Scaling factor to increase probe count for partial bed probes.
variable_probe_count_scale: 1.5
# Additional delay (in ms) during bed heating, to allow the bed to stabilize.
variable_start_bed_heat_delay: 0
# Amount (in degrees C) to overshoot bed target temp before stabilizing.
variable_start_bed_heat_overshoot: 0
# Set to clear adjustments (e.g. feedrate, extrusion, heater) at end of print.
variable_start_clear_adjustments_at_end: True
# PRINT_END Y park position (set "max" or "min" to infer from stepper config).
variable_start_end_park_y: 220 # Defaults to print_max Y.
# Extruder scale factor during pre-warmup in PRINT_START.
variable_start_extruder_preheat_scale: .5
# If non-zero the extruder will stabilize at this temp before probing the bed.
variable_start_extruder_probing_temp: 150
# Set to rehome Z in PRINT_START after bed temp stabilizes; False to disable.
variable_start_home_z_at_temp: False
# Set to level bed in PRINT_START after bed temp stabilizes; False to disable.
variable_start_level_bed_at_temp: True
# Distance (in millimeters) between the purge lines and the print area.
variable_start_purge_clearance: 5.0
# Length of filament (in millimeters) to purge at print start.
variable_start_purge_length: 15 # This value works for most setups.
# Length of filament (in millimeters) to prime before drawing purge lines.
variable_start_purge_prime_length: 12.0
# Maximum distance to relocate print in random XY location to reduce bed wear.
variable_start_random_placement_max: 25
# The relocation will be at least this far from the printable edge of the bed.
variable_start_random_placement_padding: 10
# Level gantry in PRINT_START after bed temp stabilizes; False to disable.
variable_start_quad_gantry_level_at_temp: False
# Skip level and load saved mesh for current sheet (if found); False to disable.
variable_start_try_saved_surface_mesh: False
# Adjust Z tilt in PRINT_START after bed temp stabilizes; False to disable.
variable_start_z_tilt_adjust_at_temp: False
# X and Y travel speed (in mm/m) for movement macros.
variable_travel_speed_xy: 2000
# Z travel speed in (mm/m) for movement macros.
variable_travel_speed_z: 1000
gcode: 
    #GCODE_ON_PRINT_STATUS STATUS=calibrating_z COMMAND=status_calibrating_z WHEN=ALWAYS TYPE=ENTER
    GCODE_ON_PRINT_STATUS STATUS=meshing COMMAND=status_mesh WHEN=ALWAYS TYPE=ENTER
    GCODE_ON_PRINT_STATUS STATUS=filament_unload COMMAND=status_filchg WHEN=ALWAYS TYPE=ENTER
    GCODE_ON_PRINT_STATUS STATUS=filament_load COMMAND=leds_off WHEN=ALWAYS TYPE=LEAVE
    GCODE_ON_PRINT_STATUS STATUS=extruder_heating COMMAND=status_heating WHEN=ALWAYS TYPE=ENTER
    GCODE_ON_PRINT_STATUS STATUS=ready COMMAND=leds_off WHEN=ALWAYS TYPE=ENTER
# This line is required by Klipper.
# Any code you put here will run at klipper startup, after the initialization
# for these macros. For example, you could uncomment the following line to
# automatically adjust your bed surface offsets to account for any changes made
# to your Z endstop or probe offset.
#  ADJUST_SURFACE_OFFSETS